<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup>
	<supportedRuntime version="v3.01" sku =".NetFramework Version = v3.01"/>
</startup>
	<ConnectionStrings>
		<add name ="rbx" connectionString ="Data Source = SCORPIO\SQLSERVER2017; Initial Catalog = crudOperation; Integrated Security = True" ProviderName ="System.Data.SqlClient"/>
	</ConnectionStrings>
</configuration>


